<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Create An Account</h1>
      <p class="lead">
        If you haven't already, sign-up for free to start uploading your own Unity games.
      </p>

      <p class="lead">
        Click on the sign-up button on the top right and simply put in a username, password, and email to get started.
      </p>
    </div>
</div>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Make A Unity WebGL Build</h1>
      <p class="lead">
        To make a WebGL build, follow these instructions:
        <a href="https://docs.unity3d.com/Manual/webgl-building.html#:~:text=To%20create%20a%20build%20for,refer%20to%20WebGL%20Build%20Settings." target="_blank">WebGL Build</a>
      </p>

      <ul class="lead">
        <li>Once you have a WebGL build, got to github and create a public repository.</li>
        <li>Once created, go to settings > pages and for the branch, set it equal to main and select /docs as the folder.</li>
        <li>Rename your WebGL folder to docs and upload it to the repository and add a Unity .gitignore file.</li>
        <li>Go back to settings > pages to see the URL of your WebGL build.</li>
      </ul>
    </div>
</div>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Upload to <span style="color: #ffc107; font-weight: bold;">Unity Arcade</span></h1>
      <p class="lead">
        Once you have acquired an URL, make sure you are logged in on Unity Arcade.
      </p>
      <p class="lead">
        Once logged in, you will see your name on the top right. Click on it to access a form to upload your game.
      </p>
    </div>
</div>

<%- include("partials/footer.ejs") %>