<%- include("partials/header.ejs") %>

<div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis">Why I Created <span style="color: #ffc107; font-weight: bold;">Unity Arcade</span></h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            I created Unity Arcade initially to showcase the games I developed in college. 
            Over time, I wanted to expand on this idea by building a platform that not only hosts my games but also allows others to upload their creations. 
            Unity Arcade is designed to foster a vibrant community of gamers and creators, providing a space for people to share their work, receive feedback, and connect with like-minded individuals.
        </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/browse"><button type="button" class="btn btn-warning btn-lg px-4 me-sm-3">View Games</button></a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 100vh;">
      <div class="container px-5">
        <img src="images/partha.jpg" class="img-fluid border rounded-3" width="700" height="500" loading="lazy">
      </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>