.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    margin: 20px;
}

.iframe-container {
    width: 100%;
    height: 80vh;
    border: 1px solid #ddd;
    padding: 20px 0;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

ul {
    list-style-type: none;
}

.full-screen {
    height: 75.2vh;
    display: flex;
    flex-direction: column;
}

.login-screen {
    height: 77.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}